.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 250px;
  height: 300px;
  background-color: burlywood;
  border: 2px solid orange;
  border-radius: 1%;
  margin-top: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number-text{
  font-size: xx-large;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.container{
  width: 400px;
  height: 450px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}

.otp-input{
  width: 300px;
  height: auto;
  margin: auto;
}
.otp-index{
  width: 50px;
  height: 50px;
  margin: 2%;
  font-size: larger;
  font-weight: 600;
  line-height: 2;
}
